#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  etherpad-app.service
BindsTo=etherpad.service
After=etherpad.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/etherpad-app.pid %t/etherpad-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/etherpad-app.pid \
    --cidfile %t/etherpad-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/etherpad.pod-id --replace -d --name  etherpad-app \
    --volume plugins:/opt/etherpad-lite/src/plugin_packages:Z \
    --volume etherpad-var:/opt/etherpad-lite/var:Z \
    --env NODE_ENV=production \
    --env ADMIN_PASSWORD=Nethesis,1234 \
    --env DB_CHARSET=utf8mb4 \
    --env DB_HOST=postgresql-app \
    --env DB_NAME=etherpad \
    --env DB_PASS=Nethesis,1234 \
    --env DB_PORT=5432 \
    --env DB_TYPE=postgres \
    --env DB_USER=postgres \
    --env DEFAULT_PAD_TEXT=' ' \
    --env DISABLE_IP_LOGGING=false \
    --env SOFFICE=null \
    --env TRUST_PROXY=true \
    ${ETHERPAD_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/etherpad-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP etherpad-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/etherpad-app.ctr-id
PIDFile=%t/etherpad-app.pid
Type=forking

[Install]
WantedBy=default.target
